.landing-page {
    background-color: #b6ffdb;
}

.container {
    display: flex;
    width: 98%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    height: 98%;
}

.item, .item:visited {
    width: 200px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    font-family: verdana;

    transition: all .1s ease-in;
    background-color: #E4A5FF;
    color: #023d79;
}

.item:hover {
    background-color: #cb4fff;
}


.large-basic-text {
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
}

@media (max-width: 700px) {
    .container {
        flex-wrap: wrap-reverse;
        flex-flow: column;
    }
}