.landing-page {
    background-color: #b6ffdb;
}

.fill {
    height: 100%;
}

.my-container {
    display: flex;
    width: 98%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    height: 98%;
}

.my-item, .my-item:visited {
    width: 200px;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    font-family: verdana;

    transition: all .1s ease-in;
    background-color: #E4A5FF;
    color: #023d79;
}

.my-item:hover {
    background-color: #cb4fff;
}


.large-basic-text {
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
}

@media (max-width: 700px) {
    .container {
        flex-wrap: wrap-reverse;
        flex-flow: column;
    }
}

.test {
    border: 1px solid red;
}

.rps-player-outline {
    width: 300px;
    height: 450px;
    border-radius: 5px;
}

.rps-computer-outline {
    width: 300px;
    height: 450px;
    border-radius: 5px;
}

.rpc-title {
    font-weight: bold;
}

/* Colours! */
.rps-player-light-colour { background-color: #4EE7FC; }

.rps-player-medium-colour { background-color: #3DD6EB; }

.rps-player-dark-colour { background-color: #0EBED6; }

.rps-player-dark-colour-outline {  border: 4px solid #0EBED6; }

.rps-computer-light-colour { background-color: #FC634E; }

.rps-computer-medium-colour { background-color: #EB523D; }

.rps-computer-dark-colour { background-color: #E8371F; }

.rps-computer-dark-colour-outline { border: 4px solid #E8371F; }

.rps-playable-move, .rps-computer-move {
    border-radius: 5px;
    margin-top: 5px;
    height: 70px;
    width: 70px;
    font-size:50px;
    text-decoration: none;
    cursor: pointer;
}

.rps-playable-move:hover { 
    background-color: #0DADC5;
}

.rps-playable {
    margin-top: -17px;
    margin-left: -2px;
}

.rps-move {
    height: 65%;
    width: 99%;
    margin-top: 13px;
    border-radius: 5px;
}

.rps-p-title {
    font-size:40px;
}

.rps-player-selected {
    font-size: 140px;
    padding-left: 60px;
}

#img-player-selected-move {
    margin-left: -12px;
}

#img-computer-selected-move {
    margin-left: -12px;
}

.rps-div-player-title, .rps-div-computer-title {
    height: 65px;
}

.rps-div-moves {
    height: 70px;
}

@media (max-width: 576px) {        
    .rps-player-outline {
        width: 300px;
        height: 300px;
    }

    .rps-computer-outline {
        width: 300px;
        height: 300px;
    }
    
    #img-player-selected-move, #img-computer-selected-move {
        margin-left: 8px;
        width: 140px;
        height: 140px
    }

    .rps-move {
        height: 63%;
        width: 99%;
        margin-top: 10px;
        border-radius: 5px;
    }    
}